#pdf-canvas {
    border: 1px solid black;
    direction: ltr;
  }


  /*
  div {
    border: solid 1px;
  }

  */


 #text-container {
    background-color:white;
    color:black;
    font-size:14px;
    border: 1px solid #ccc; 
    padding: 12px; 
    width:100%; 
    height: 1000px; 
    overflow: auto;
  }

  #named_entities {
    background-color: white;
    color:black;
    font-size:14px;
    border: 1px solid #ccc; 
    padding: 12px; 
    width:100%;
    margin-bottom: 10px; 
  }

  #named_entities ul {
    list-style-type: none;
    
    
   
  }