openapi: 3.0.0
info:
  title: On This Day API
  description: API for retrieving historical events that happened on a specific date.
  version: 1.4.0
servers:
  - url: https://unlockingthepast.com/api/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
paths:
  /api/v1/events/{month}/{day}:
    get:
      summary: Get events for a specific date
      description: Returns historical events that occurred on a given month and day.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: month
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
          description: Month (1-12)
        - name: day
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 31
          description: Day of the month (1-31)
        - name: issue_id
          in: query
          required: false
          schema:
            type: integer
            example: 102345
          description: Retrieve a specific event by its unique numerical issue ID.
       
        - name: year
          in: query
          required: false
          schema:
            type: integer
          description: Filter events by a specific year.
        
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination.
       
      responses:
        "200":
          description: A list of events 
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    example: "31 January"
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        issue_id:
                          type: integer
                          example: 102345
                        page_number:
                          type: integer
                          example: 2
                        year:
                          type: integer
                          example: 1944
                        title:
                          type: string
                          example: "Tere."
                        description:
                          type: string
                          example: "Skeleton Order of Battle, 15 Indian Corps,\n1st January 1944"
                       
                  
        "400":
          description: Invalid request parameters.
        "401":
          description: Unauthorized - API key required.
        "404":
          description: No events found for the given date .
